.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.nb-gradle/
**/nbproject/build-impl.xml
**/nbproject/genfiles.properties
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
**/nbproject/private/
build/
buildNumber.properties
db.properties
dependency-reduced-pom.xml
dist/
manifest.mf
nbbuild/
nbdist/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
test/
